// @use './variables' as vars;

// @import './variables';
@use './variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: $font-family;
    background-color: #fff;
    color: $secondary-color;
}