$primary-color: #0070f3;
$secondary-color: #1c1c1e;
// $font-family: var(--font-plus-jakarta), sans-serif;
// $title-font-family: var(--font-plus-jakarta), sans-serif;

$font-heading: var(--font-brockmann);
$font-body: var(--font-plus-jakarta);

$max-width: 1200px;