// .button {
//   background-color: $primary-color;
//   color: white;
//   border: none;
//   padding: 0.75rem 1.5rem;
//   border-radius: 6px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;

//   &:hover {
//     background-color: darken($primary-color, 10%);
//   }
// }

@use "../../app/styles/variables" as *;
@use "sass:color";

.button {
  background-color: $primary-color;
  // color: white;
  border: none;
  // padding: 0.75rem 1.5rem;
  width: 88px;
  height: 56px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @media (max-width: 1024px) {
    width: 40px;
    height: 25px;
  }

  svg {
    width: 24px;
    height: 24px;

    @media (max-width: 1024px) {
      width: 16px;
      height: 16px;
    }
  }

  &:hover {
    background-color: color.scale($primary-color, $lightness: -10%);
  }
}

.primary_button {
  background-color: white;
  height: fit-content;
  padding: 13px 40px;
  border-radius: 30px;
  border: 1px solid #000000;

  // font-family: Brockmann;
  font-family: var(--font-heading), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #00000080;
  cursor: pointer;

  transition: all 0.3s ease;

  .transparent {
    background-color: transparent;
  }

  &:hover {
    color: white;
    background-color: black !important;
  }
}
