.blog_page {
    padding-top: 150px;
    background-color: #F7F6F1;

    display: flex;
    align-items: start;
    gap: 105px;

    @media (max-width: 1080px) {
        padding-top: 100px;
        flex-direction: column;
        gap: 24px;
    }

    .list_blogs {
        display: flex;
        flex-direction: column;
        gap: 90px;

        @media (max-width: 768px) {
            gap: 52px;
        }

        .blog {
            display: flex;
            height: 254px;
            gap: 20px;

            @media (max-width: 768px) {
                flex-direction: column;
                height: 100%;
                gap: 15px;
            }

            .blog_image {
                object-fit: cover;

                @media (max-width: 768px) {
                    width: 100%;
                    height: 214px;
                }
            }

            .blog_base_contents {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;

                @media (max-width: 768px) {
                    gap: 20px;
                }

                .titles {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    @media (max-width: 768px) {
                        gap: 0px;
                    }

                    h1 {
                        // font-family: Brockmann;
                        font-family: var(--font-heading), sans-serif;
                        font-weight: 500;
                        font-size: clamp(16px, 2vw, 20px);
                        line-height: 100%;
                        letter-spacing: 0%;
                        text-transform: uppercase;

                        @media (max-width: 768px) {
                            line-height: 22px;
                        }
                    }

                    p {
                        // font-family: Plus Jakarta Sans;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 180%;
                        letter-spacing: 0%;
                        color: #878C91;
                    }
                }
            }
        }
    }
}

.blog_detail_page {
    padding-top: 150px;
    background-color: #F7F6F1;
    display: flex;
    gap: 54px;
    align-items: start;

    @media (max-width: 768px) {
        padding-top: 100px;

        flex-direction: column;
        gap: 24px;
    }


    .blog_wrapper {
        .detailed_blog_title {
            display: grid;
            gap: 10px;

            @media (max-width: 768px) {
                display: none;
            }
        }

        display: grid;
        gap: 80px;

        width: 100%;

        .detail_blog {
            display: flex;
            gap: 42px;
            position: relative;

            .sub_titles {
                display: flex;
                flex-direction: column;
                gap: 33px;
                // width: 100%;
                position: sticky;
                top: 150px;
                align-self: flex-start;

                @media (max-width: 768px) {
                    display: none;
                }


                .sub_title {
                    display: flex;
                    align-items: center;
                    gap: 11px;
                    color: #010205;
                    cursor: pointer;

                    &.active_subtitle {
                        // color: #3CBBCE;
                        font-weight: 700;
                    }

                    .count {
                        width: 35px;
                        height: 35px;
                        border: 1px solid #242424;
                        border-radius: 100%;

                        display: grid;
                        place-items: center;

                        // font-family: Brockmann;
                        font-family: var(--font-heading), sans-serif;
                        // font-weight: 500;
                        font-size: 16px;
                        line-height: 100%;
                        letter-spacing: 0%;
                    }


                    .sub_title_text {
                        // font-family: Brockmann;
                        font-family: var(--font-heading), sans-serif;
                        // font-weight: 500;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        text-transform: uppercase;
                        text-wrap: nowrap;
                    }
                }
            }


            .detail_blog_content {
                width: 100%;
                display: grid;
                gap: 50px;

                @media (max-width: 768px) {
                    gap: 15px;
                }

                .details_blog_image {
                    width: 100%;
                    height: 384px;
                    object-fit: cover;
                }

                .detailed_blog_title_mob {
                    display: none;

                    @media (max-width: 768px) {
                        display: grid;
                        gap: 10px;
                    }
                }

                .blog_description {
                    display: grid;
                    gap: 30px;
                    color: #878C91;

                    h2 {
                        // font-family: Plus Jakarta Sans;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 180%;
                        letter-spacing: 0%;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}