.texts_component {
  h1 {
    // font-family: Brockmann;
    font-family: var(--font-heading), sans-serif;
    font-weight: 500;
    // font-size: 68px;
    font-size: clamp(20px, 4vw, 68px);
    line-height: 100%;
    letter-spacing: -3%;
    text-align: center;
  }
}

.section_title {
  // font-family: Brockmann;
  font-family: var(--font-heading), sans-serif;
  font-weight: 500;
  font-size: clamp(20px, 4vw, 48px);
  // line-height: 130%;
  line-height: 80%;
  letter-spacing: -3%;
  color: #010205;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desc_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0%;

  @media (max-width: 1024px) {
    text-align: justify;
  }
}

.service_title {
  // font-family: Brockmann;
  font-family: var(--font-heading), sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -3%;
}