  .approach_section {
    background-color: #242424;
    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    gap: 85px;


    @media (max-width: 1024px) {
      gap: 26px;
    }

    .lists {
      display: flex;
      // flex-direction: column;

      .list {
        width: 16.6666666667%;
        display: flex;
        align-items: start;
        color: #F7F6F1;

        // &:not(.content) {
        //   display: none;
        // }

        &.content {
          display: flex;
          flex-direction: column;
          text-wrap: nowrap;
          gap: 5px;

          @media (max-width: 1024px) {
            text-wrap: wrap;
          }

          h2 {
            // font-family: Brockmann;
            font-family: var(--font-heading), sans-serif;

            font-weight: 500;
            font-size: clamp(14px, 4vw, 32px);
            line-height: 130%;
            letter-spacing: -3%;

          }

          p {
            // font-family: Brockmann;
            font-family: var(--font-heading), sans-serif;

            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: -3%;

            @media (max-width: 1024px) {
              display: none;
            }
          }
        }
      }
    }
  }