.input_field {
  input {
    border-bottom: 1px solid #f7f6f1cc;
    outline: none;

    // font-family: Brockmann;
    font-family: var(--font-heading), sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #f7f6f1cc;
    width: 100%;
    padding: 8px 0;
  }

  &.white_bg {
    input {
      color: #010205;
      border-bottom: 1px solid #000000;
    }
  }
}

.textarea_field {
  display: grid;

  // gap: 30px;
  label {
    font-family: var(--font-heading), sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #878C91;
  }

  textarea {
    border-bottom: 1px solid #f7f6f1cc;
    outline: none;

    // font-family: Brockmann;
    font-family: var(--font-heading), sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #f7f6f1cc;
    width: 100%;
    padding: 8px 0;
  }

  &.white_bg {
    textarea {
      color: #010205;
      border-bottom: 1px solid #000000;
    }
  }
}