.bread_crumbs {
  border-bottom: 11px solid #3cbbce;
  padding-bottom: 6px;

  width: fit-content;

  h2 {
    // font-family: Brockmann;
    font-family: var(--font-heading), sans-serif;
    font-weight: 500;
    font-size: clamp(14px, 4vw, 18px);
    line-height: 100%;
    letter-spacing: 0%;
    text-wrap: nowrap;
    color: #00000080;
  }
}